/* Encriptador - 1 Desktop */

html {
    width: 100vw;
    height: 100vh;
}

body {
    width: 100%;
    height: 100%;
    background-color: #F3F5FC;
    background-image: url(imagenes/22112338_6534510.jpg);
    background-size: cover;
    background-position: center;
}

#encabezado {
    margin: 10px 10px;
    height: 80px;
}

#encabezado img {
    display: inline-block;
}

#encabezado h1 {
    position: relative;
    display: inline-block;
    left: 10%;
    top: -20%;
}

h1 {
    font-size: 2em;
    font-weight: bold;
    font-style: oblique;
}
.nombreprogramador{
    position: relative;
    display: inline-block;
    right: -35%;
    font-size: 1em;
    font-weight: bold;
    font-style:italic;

}

#operativo {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 90%;
    border-radius: 10px;
    background-color: #F3F5FC;
    background-image: url(imagenes/22112338_6534510.jpg);
    background-size: cover;
    background-position:center;
    box-shadow:  20px 20px 60px 60px  rgb(95, 66, 162);
    box-sizing:content-box;
    float: left;
}

.texto-analizar {
    display: block;
    position: relative;
    top: 20%;
    width: 60%;
    height: 15%;
    margin-left: 25%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: rgb(157, 157, 212);
}

.texto-analizar input {
    width: 50%;
    height: 30px;
    font-size: x-large;
}

.operaciones {
    display: flex;
    position: relative;
    top: 60%;
    left: 5%;
    width: 80%;
}

.operaciones button {
    position: relative;
    width: 40%;
    height: 60px;
    margin: 0px 40px;
    border-radius: 30px;
    border: 4px solid rgb(233, 187, 170);
}

.operacionEncriptar {
    background-image: url("imagenes/Button.png");
    background-size: cover;
    background-position: center;

}

.operacionEncriptar:hover {
    cursor: pointer;
    background-size: 90%;
}

.operacionDesencriptar {
    background-image: url(imagenes/Button\ \(1\).png);
    background-size: auto;
    background-position: center;
}

.operacionDesencriptar:hover {
    cursor: pointer;
    background-size: 90%;
}

#ventana-lateral {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 90%;
    left: 50%;
    box-sizing: content-box;
    
    
}

.figura {
    position: relative;
    width: 70%;
    left: 10%;
    height: 100%;
    border-radius: 20px;
    background-color: #F3F5FC;
    background-image: url(imagenes/22112338_6534510.jpg);
    background-size: cover;
    background-position: center;
    /*box-shadow: inset 20px 20px 60px 60px  rgb(221, 209, 186);*/
    box-shadow:  20px 20px 60px 60px  rgb(95, 66, 162);
}

.figura h2 {
    position: absolute;
    left: 20%;
    top: 2%;
}

.texto-encriptado {
    display: block;
    position: relative;
    width: 70%;
    top: 5%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #000000;
    margin-bottom: 20px;
}


.texto-encriptado p {
    width: 40%;
    height: 40px;
    font-weight: bold;
    margin-bottom: 20px;
}

.muñeco {
    position: absolute;
    display: block;
    background-image: url("imagenes/Muñeco.png");
    background-size: cover;
    background-position: center;
    width: 50%;
    height: 25%;

    top: 30%;
    margin-top: 20px;
    margin-left: 20%;
    margin-right: 25%;
    margin-bottom: 5%;

}

#verMensaje {
    position: absolute;
    display: block;
    background-image: url("imagenes/Frame 5.png");
    background-size: cover;
    background-position: center;
    width: 70%;
    height: 80px;
    bottom: 15%;
    left: 8%;
    margin-bottom: 5%;
    visibility: hidden;
}

.copiar {
    display: block;
    position: absolute;
    box-sizing: border-box;
    width: 80%;
    top: 87%;
    left: 18%;
    margin-top: 5%;
}

.copiar button {
    position: absolute;
    width: 80%;
    height: 30px;
    background-color: rgb(233, 187, 170);
    border: 2px solid #e1e1e1;
    border-radius: 10px;
    font-weight: bold;

}


@media only screen and (max-width: 820px) {
    html {
        width: 100vw;
        height: 100vh;
    }

    body {
        display: flex;
        flex-direction: column;
        background-color: #F3F5FC;
        box-shadow: inset 20px 20px 60px 60px rgb(221, 209, 186);
        width: 100%;
        height: 100%;
    }

    #encabezado {
        margin: 10px 10px;
        height: 80px;
    }

    #encabezado h1 {
        position: relative;
        display: inline-block;
        left: -5%;
    }

    h1 {
        font-size: 17px;
        font-weight: bold;
        font-style: oblique;
    }

    #operativo {
        display: flex;
        width: 100%;
        height: 50%;
        background-color: #F3F5FC;
        box-shadow: inset 20px 20px 60px 60px rgb(221, 209, 186);

    }

    .texto-analizar {
        display: block;
        position: relative;
        top: 5%;
        width: 70%;
        height: 40px;
        margin-left: 25%;

    }

    .texto-analizar label {
        margin-bottom: 5px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        color: blue;
    }

    .texto-analizar input {
        margin-top: 5px;
        width: 70%;
        height: 30px;
        font-size: x-large;
    }

    .operaciones {
        display: block;
        top: 30%;
        left: 15%;
        width: 80%;
    }

    .operaciones button {
        position: relative;
        width: 80%;
        height: 60px;
        margin: 5px 5px;
        border-color: blue;
        border-radius: 20px;
    }

    #ventana-lateral {
        display: flex;
        width: 100%;
        height: 50%;
        left: 50%;
        background-color: #F3F5FC;
        box-shadow: inset 20px 20px 60px 60px rgb(221, 209, 186);
    }

    .figura {
        width: 99%;
        height: 100%;
        left: 4px;
        box-sizing: content-box;


    }

    .figura h2 {
        position: absolute;
        left: 30%;
        bottom: 40%;
    }

    .texto-encriptado {
        display: block;
        position: relative;
        top: 10%;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        color: #000000;
        margin-bottom: 20px;
    }

    .muñeco {
        width: 0%;
        height: 0%;
    }

    #verMensaje {
        position: absolute;
        width: 50%;
        height: 80px;
        bottom: 30%;
        left: 23%;
        margin-bottom: 5%;
        visibility: hidden;
    }

    .copiar {
        box-sizing: border-box;
        top: 60%;
        left: 15%;
        margin-top: 5%;
    }



}